.xLabel {
    /*font-weight: bold;*/
    color: white;
    background-color: #4c4c4c;
    width: 60px;
    padding: 10px 5px 10px 0;
    border-radius: 5px;
    text-align: right;
    font-size: 15px;
}
.xLabel-asset {
    color: white;
    background-color: #4c4c4c;
    padding: 10px 5px 10px 0;
    border-radius: 5px;
    text-align: right;
    font-size: 15px;
    width: 120px;
}